@import "resources/js/Code.scss";
.hover-a{
    margin-bottom: 20px; text-decoration: none; color: #09f
}
.hover-a > a{
    text-decoration: none; color: #09f
}
.hover-a > a:hover{
    color: #25cff2;
}
div > a {
    text-decoration: none;
}

.heading {
    margin-top: 20px;
    font-size: 1.7em;
    width: 100%;
    color: #802c6e;
}

.code-area h3 {
    margin-top: 50px;
    font-size: 1.4em;
}

.pre {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 20px;
}

code {
    overflow-x: auto;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    display: block;
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
}

.btn-outline {
    border: 1px solid #802c6e;
    border-radius: .25rem;
    padding: 9px 12px 6px;
    background-color: transparent;
    color: #802c6e;
}

input, select, textarea, input[type="button"], input[type="submit"], button {
    border: none;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 1em;
}

button {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.block {
    display: block;
    width: 100%;
}

.output-result {
    display: none;
}
.alert {
    width: 100%;
    padding: 15px;
    background-color: #802c6e;
    color: #fff;
    text-align: center;
}

.alert a {
    color: #fff;
    border-bottom: 1px dashed #fff;
    padding-bottom: 1px;
}

.close-alert {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2em
}
.container{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main {
    min-height: 80vh;
    padding-top: 30px;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section {
    margin-bottom: 100px;
}
.intro {
    margin-top: 200px;
}
.intro-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.about {
    margin-top: 200px;
}
#try {
    margin-top: 100px;
}
.about h3 {
    width: 100%;
    font-size: 1.4em;
}
.center-align {
    text-align: center;
}
.heading {
    width: 100%;
    color: #802c6e;
    font-size: 1.7em;
}
.pre {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #802c6e;
    color: #f5f5f5;
    border: 1px solid #802c6e;}

.list {
    width: 100%;
    margin-top: 20px;
}
.list li {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left;
}
.ul li {
    list-style: none;
}
.list li a {
    font-size: 1.1em;
}
a:hover, a:active, a:focus, a {
    text-decoration: none;
}

a {
    color: #09f;
}
.btn-primary {
    background-color: #802c6e;
    color: #f5f5f5;
    border: 1px solid #802c6e;
}
p {
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: #3a3134;
}
p {
    line-height: 1.5;
    font-size: 1.1em;
    font-variation-settings: "wght" 200;
}
footer {
    padding: 20px;
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
    position: relative;
    z-index: 10;
}
footer p {
    font-weight: 300;
}
p {
    line-height: 1.5;
    font-size: 1.1em;
    font-variation-settings: "wght" 200;
}
.heart {
    color: #a71e22;
}
footer a {
    color: #3a3134;
    font-weight: 300;
}

a:hover, a:active, a:focus, a {
    text-decoration: none;
}
footer a.donate {
    color: #802c6e;
}
footer a {
    color: #3a3134;
    font-weight: 300;
}
